@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.animate-fade-in {
  animation: fade-in 0.7s both;
}
